<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>layTabPlus</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>

<body class="layui-layout-body">
<script src="../static/js/layTabPlus.js"></script>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">

        <div class="layui-logo layui-bg">后台管理系统

        </div>

        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">

            <li id="close" type="button" style="background:black" class="layui-btn layui-btn-sm ">

                <i class="layui-icon" style=" font-size: 10px; color: #FFFFFF;">&#xe668;</i>
            </li>
            <li class="layui-nav-item">
                <a href="">返回前台</a>
            </li>
            <li class="layui-nav-item">
                <a href="">商品管理</a>
            </li>
            <li class="layui-nav-item">
                <a href="">用户</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">邮件管理</a>
                    </dd>
                    <dd>
                        <a href="">消息管理</a>
                    </dd>
                    <dd>
                        <a href="">授权管理</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <!--个人中心-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://gitee.com/uploads/66/890966_Leytton.png?1512991922" class="layui-nav-img"> Leytton
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:void(0);" class="layTabPlus" tab_jump="true" tab_url="./user/userinfo.html">
                            <i class="layui-icon layui-icon-star"> </i>个人信息</a>

                    </dd>
                    <dd>
                        <a href="">退出登录</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">我的信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" class="layTabPlus"
                               tab_url="https://www.layui.com/doc/element/icon.html">
                            <i class="layui-icon layui-icon-star"></i>
                            百度
                        </a>
                        </dd>
                        <dd><a href="javascript:void(0);" class="layTabPlus"
                               tab_url="https://gitee.com/explore">马云</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">开源作品</a>
                    <dl class="layui-nav-child">

                        <dd>
                            <a href="javascript:;" class="layTabPlus" tab_url="https://gitee.com/Leytton/ThinkJD">
                                <i class="layui-icon layui-icon-star"> </i>
                                ThinJDBC
                            </a>

                        </dd>
                        <dd>
                            <a href="javascript:;" class="layTabPlus"
                               tab_url="https://gitee.com/Leytton/SimJQ">SimJQ</a>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="layTabPlus" tab_url="https://gitee.com/Leytton/layTabPlus"
                               tab_jump="true">layTabPlus</a>
                        </dd>
                    </dl>

                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">关于作者</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" class="layTabPlus" tab_url="http://www.llqqww.com">网站</a></dd>
                        <dd><a href="javascript:void(0);" class="layTabPlus"
                               tab_url="https://blog.csdn.net/leytton">博客</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" class="layTabPlus" tab_url="http://www.llqqww.com">网站</a></dd>
                        <dd><a href="javascript:void(0);" class="layTabPlus"
                               tab_url="https://blog.csdn.net/leytton">博客</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:void(0);" class="layTabPlus" tab_url="https://blog.csdn.net/leytton">CSDN</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="demoTab" lay-allowClose="false">
            <ul class="layui-tab-title">
                <li class="layui-this noclose" lay-id='base_info'>首页</li>
            </ul>
            <div class="layui-tab-content" style="padding:0px;">
                <div class="layui-tab-item layui-show">
                    <div class="col">
                        <blockquote class="layui-elem-quote title">基本信息</blockquote>
                        <table class="layui-table">
                            <tbody>
                            <tr>
                                <td>当前版本</td>
                                <td class="version">V1.2</td>
                            </tr>
                            <tr>
                                <td>开发作者</td>
                                <td class="author">Leytton</td>
                            </tr>
                            <tr>
                                <td>项目首页</td>
                                <td class="homePage"><a href="https://gitee.com/Leytton/layTabPlus">https://gitee.com/Leytton/layTabPlus</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="layui-footer">-->
<!--        © 2018 <a href="https://gitee.com/Leytton/layTabPlus">layTabPlus</a> - by Leytton-->
<!--    </div>-->
</div>
<script src="../static/layui/layui.all.js"></script>

<script>
    var $ = layui.jquery;
    var layer = layui.layer;
    var element = layui.element;
    var util = layui.util;
    var table = layui.table;
</script>

<script>
    layTabPlus.init({
        lay_filter: 'demoTab'
    });
</script>

<script>
    $('#close').on('click', function () {



        // $('.layui-bg-black').toggle();
        if ($('.layui-bg-black').is(':visible')) {

            $('.layui-bg-black').animate({
                right:'400px'
            });
            console.log('123123');
            $(".layui-body").css({
                "left":"0px"
            });
             $('.layui-bg-black').hide();
        }else {
            $('.layui-bg-black').show();
            $(".layui-body").css({
                "left":"200px"
            });
        }
    })
</script>
</body>

</html>
<style>


</style>